The provided code stub will read in a dictionary containing key/value pairs of name:[marks] for a list of students. 

Print the average of the marks array for the student name provided, showing 2 places after the decimal.

Input format

The first line contains the integer , the number of students' records. 

The next  lines contain the names and marks obtained by a student, each value separated by a space. 

The final line contains query_name, the name of a student to query.

Sample input<br>
`3`<br>
`Krishna 67 68 69` <br>
`Arjun 70 98 63` <br>
`Malika 52 56 60` <br>
`Malika`

Sample output<br>
`56.00`

In [ ]:
if __name__ == '__main__':
    n = int(input())
    student_marks = {}
    for _ in range(n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores
    query_name = input()